/*Page last edited 9/12/2019*/
a {
    color: #ff99ff;
    text-decoration-line: none;
}
body {
    color:white;
    background-color:black;
    font-family:Courier New, Courier, monospace;
}
table.center {
    width: 75%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}